<ng-container *transloco="let t">
    <p-panel [header]="t('favouriteTeamDetail.title')">
    </p-panel>

    <fieldset [disabled]="isSubmitting">
        <div fxLayout="column" fxLayoutAlign="space-between">
            <table class="p-datatable">
                <tr>
                    <td>{{ t('favouriteTeamDetail.label.favouriteTeamDuringGroupMatches') }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ t('favouriteTeamDetail.label.favouriteTeamDuringKnockoutMatches') }}</td>
                    <td></td>
                </tr>
            </table>
            <app-list-errors [errors]="errors"></app-list-errors>
            <div fxLayout="row" fxLayoutAlign="space-around" class="buttons">
                <p-button [label]="t('general.button.save')" (onClick)="doSave($event)"></p-button>
                <p-button [label]="t('general.button.cancel')" (onClick)="doCancel($event)"></p-button>
            </div>
        </div>
    </fieldset>
</ng-container>
