<ng-container *transloco="let t">
    <p-panel [header]="t('scores.title')">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutAlign="space" fxLayoutGap="10px" >
                <table class="p-datatable">
                    <tr>
                        <td>{{ t('scores.label.userGroup') }}</td>
                        <td>
                            <p-dropdown [options]="userGroups" [(ngModel)]="selectedUserGroup" [placeholder]="t('scores.label.userGroup')"
                                (onChange)='onUserGroupChange($event)'>
                                <ng-template pTemplate="selectedItem">
                                    {{ selectedUserGroup?.name }}
                                </ng-template>
                                <ng-template let-userGroup pTemplate="item">
                                    {{ userGroup.name }}
                                </ng-template>
                          </p-dropdown>
                        </td>
                    </tr>
                </table>
                <p-table [value]="userPositions" responsiveLayout="scroll"
                    selectionMode="single" [(selection)]="selectedUserPosition" dataKey="userId"
                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ t('scores.label.standing') }}</th>
                            <th>{{ t('scores.label.user') }}</th>
                            <th>{{ t('scores.label.points') }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-userPosition>
                        <tr [pSelectableRow]="rowData">
                            <td>{{ userPosition.position }} </td>
                            <td>{{ userPosition.loginName }}</td>
                            <td>{{ userPosition.score }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-chart fxFlex #chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </p-panel>
</ng-container>