<ng-container *transloco="let t">
    <p-panel [header]="t('scores.title')">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px" >
                <table class="p-datatable">
                    <tr>
                        <td>{{ t('scores.label.userGroup') }}</td>
                        <td>
                            <p-dropdown [options]="userGroups" [(ngModel)]="selectedUserGroup" [placeholder]="t('scores.label.userGroup')"
                                (onChange)='onUserGroupChange($event)'>
                                <ng-template pTemplate="selectedItem">
                                    {{ selectedUserGroup?.name }}
                                </ng-template>
                                <ng-template let-userGroup pTemplate="item">
                                    {{ userGroup.name }}
                                </ng-template>
                          </p-dropdown>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </p-panel>
</ng-container>