.error-messages {
    color: red;
}

.msg-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg-error {
    color: #D8000C;
    background-color: #FFD2D2;
}