<ng-container *transloco="let t">
  <p-panel [header]="title">
  </p-panel>

  <p-panel *ngIf="sessionService.isUserAdmin() && eventTriggerStartTimes.length">
      <span class="p-float-label">
        <p-dropdown id="eventTriggerStartTime" [options]="eventTriggerStartTimes" [(ngModel)]="selectedEventTriggerStartTime" 
          [pTooltip]="t('matches.tooltip.triggerStartTime')" (onChange)='onEventTriggerStartTimeChange($event)'></p-dropdown>
        <label for="eventTriggerStartTime">{{ t('matches.label.triggerStartTime') }}</label>
      </span>
      <app-list-errors [errors]="errors"></app-list-errors>
  </p-panel>

  <ng-container *ngFor="let round of rounds">
    <div fxLayout="row" fxLayoutGap="10px">
      <p-table [value]="filterMatchesByRound(round)" styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          {{ t('round.' + round.name) }}
        </ng-template>
        <ng-template pTemplate="header" let-match>
          <tr>
              <th>#</th>
              <th>{{ t('matches.label.startTime') }}</th>
              <th colspan="2">{{ t('matches.label.team') }} #1</th>
              <th *ngIf="!round.isGroupmatch">{{ t('matches.label.scoredPenalties') }} #1</th>
              <th *ngIf="!round.isGroupmatch && round.isOvertime">{{ t('matches.label.scoredAfterOvertime') }} #1</th>
              <th *ngIf="round.isGroupmatch">{{ t('matches.label.scoredGoals') }} #1</th>
              <th *ngIf="!round.isGroupmatch">{{ t('matches.label.scoredAfter90Minutes') }} #1</th>
              <th *ngIf="round.isGroupmatch">{{ t('matches.label.scoredGoals') }} #2</th>
              <th *ngIf="!round.isGroupmatch">{{ t('matches.label.scoredAfter90Minutes') }} #2</th>
              <th *ngIf="!round.isGroupmatch && round.isOvertime">{{ t('matches.label.scoredAfterOvertime') }} #2</th>
              <th *ngIf="!round.isGroupmatch">{{ t('matches.label.scoredPenalties') }} #2</th>
              <th colspan="2">{{ t('matches.label.team') }} #2</th>
              <th *ngIf="sessionService.isUserAdmin()"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-match>
          <tr>
              <td>{{ match.matchN }}</td>
              <td>{{ match.startTime | translocoExDate: { dateStyle: 'short', timeStyle: 'short' } }}</td>
              <td><span *ngIf="match.team1" [ngClass]="getMatchStyleClass(match, 1)">{{ t('team.' + match.team1.name) }}</span></td>
              <td><p-image *ngIf="match.team1" src="assets/images/flags/{{match.team1.flag}}.png" alt="Image" [title]="t('team.' + match.team1.name)"></p-image></td>
              <td *ngIf="!round.isGroupmatch">{{ match.goalPenaltyByTeam1 }}</td>
              <td *ngIf="!round.isGroupmatch && round.isOvertime">{{ match.goalExtraByTeam1 }}</td>
              <td>{{ match.goalNormalByTeam1 }}</td>
              <td>{{ match.goalNormalByTeam2 }}</td>
              <td *ngIf="!round.isGroupmatch && round.isOvertime">{{ match.goalExtraByTeam2 }}</td>
              <td *ngIf="!round.isGroupmatch">{{ match.goalPenaltyByTeam2 }}</td>
              <td><p-image *ngIf="match.team2" src="assets/images/flags/{{match.team2.flag}}.png" alt="Image" [title]="t('team.' + match.team2.name)"></p-image></td>
              <td><span *ngIf="match.team2" [ngClass]="getMatchStyleClass(match, 2)">{{ t('team.' + match.team2.name) }}</span></td>
              <td *ngIf="sessionService.isUserAdmin()"><p-button *ngIf="isMatchEditable(match)" icon="pi pi-pencil" [pTooltip]="t('matches.button.enterResult')" (onClick)="editMatch(match)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br/>
  </ng-container>
</ng-container>