@import "scroll.css";

.header
{ 
	background: url('/assets/images/bgFWC2.jpg');
}

.fixed
{
	position: fixed;
	z-index: 2;
	width: 100%;
}

#yourMenuId
{
	background: url('/assets/images/bgFWC2.jpg');
}

:host ::ng-deep
#menuId .p-submenu-list 
{
	right: 100%;
	left: unset;
}
