<header class="header" *transloco="let t;">
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <div>
      <img [src]="getLogoFileName()" width="85" height="85">
    </div>
    <div *ngIf="event.eventId" fxLayout="column" fxLayoutAlign="space-around" fxFlex>
      <div fxLayout="row" fxLayoutAlign="center">
        <p-dropdown [options]="events" [(ngModel)]="event" [placeholder]="t('header.label.event')"
          (onChange)='onEventChange($event)'>
          <ng-template pTemplate="selectedItem">
            {{ event.year }} {{ t('event.description.' + event.description) }} ({{ t('team.' + event.location) }}) {{ event.startTime | date: 'yyyy-MM-dd' }} - {{ event.endTime | date: 'yyyy-MM-dd' }}
          </ng-template>
          <ng-template let-event pTemplate="item">
            {{ event.year }} {{ t('event.description.' + event.description) }} ({{ t('team.' + event.location) }})
          </ng-template>
        </p-dropdown>
      </div>
      <p-progressBar [value]="eventCompletionPercent"></p-progressBar>
      <div fxLayout="row" fxLayoutAlign="center">
        TODO - Scrolled chat
      </div>
    </div>
    <div *appShowAuthed="true" fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div *ngIf="event.eventId" fxLayout="column" fxLayoutAlign="space-around" fxFlex>
          {{ user.loginName }}
        </div>
        <a class="nav-link" (click)="logout()"><i class="pi pi-sign-out"></i></a>
      </div>
      <div fxLayout="row">
        <p-tieredMenu #menu id="menuId" [model]="menuItems" [popup]="true"></p-tieredMenu>
        <button #btn type="button" pButton icon="pi pi-fw pi-list" [label]="t('general.label.menu')" (click)="menu.toggle($event)"></button>
      </div>
      <div fxLayout="row">
        TODO - Actual time
      </div>
    </div>
  </div>
</header>