@import "scroll.css";

.header
{ 
	background: url('/assets/images/bgFWC2.jpg');
}

.fixed
{
	position: fixed;
	z-index: 2;
	width: 100%;
}

// Opens the submenu left instead of the deault right.
// Iy works only if p-tieredmenu does not use appendTo="body". 
// However we need it otherwise the submenu is still displayed right, outside the screen.
// Dynnamically create dev is outside of both our component and app-root.
// See similar setting in global styles.scss file.
:host ::ng-deep
#menuId .p-submenu-list
{
	right: 100%;
	left: unset;
}
