<div class="auth-page">
  <div class="container page">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start">

      <div fxLayout="column">
        <h1 fxLayoutAlign="center">{{ title }}</h1>
        <p fxLayoutAlign="center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form fxLayoutAlign="center" [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" *ngIf="authType == 'register'">
              <input
                formControlName="email"
                placeholder="Email"
                pInputText />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="Username"
                pInputText />
            </fieldset>
            <fieldset class="form-group">
              <p-password formControlName="password" placeholder="Password" [toggleMask]="true"></p-password>
            </fieldset>
            <p-button fxLayoutAlign="end" [disabled]="!authForm.valid"  type="submit" label="{{ title }}" ></p-button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
