<div class="auth-page" *transloco="let t;">
  <div class="container page">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start">

      <div fxLayout="column">
        <h1 fxLayoutAlign="center">{{ title }}</h1>
        <p fxLayoutAlign="center">
          @if (['register', 'reset-password'].includes(authType)) {
            <a [routerLink]="['/login']">{{ t('login.label.haveAccount') }}</a>
          }
          @if (authType == 'login') {
            <a [routerLink]="['/register']">{{ t('login.label.needAccount') }}</a>
          }
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form fxLayoutAlign="center" [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            @if (['login', 'register'].includes(authType)) {
              <fieldset class="form-group">
                <input formControlName="username" [placeholder]="t('login.label.loginName')" pInputText />
              </fieldset>
            }
            @if (['login', 'register'].includes(authType)) {
              <fieldset class="form-group">
                <p-password formControlName="password" [placeholder]="t('login.label.loginPassword')" [feedback]="authType === 'register'" [toggleMask]="true"></p-password>
                @if (authForm.controls['password'].errors?.minlength && authForm.controls['password'].dirty) {
                  <div class="error-messages">
                    {{ t('validator.constraints.password.minlength').format(passwordMinLength) }}
                  </div>
                }
              </fieldset>
            }
            @if (authType == 'register') {
              <fieldset class="form-group">
                <p-password formControlName="passwordAgain" [placeholder]="t('login.label.loginPasswordAgain')" [feedback]="false" [toggleMask]="true"></p-password>
                @if (authForm.controls['passwordAgain'].errors?.minlength && authForm.controls['passwordAgain'].dirty) {
                  <div class="error-messages">
                    {{ t('validator.constraints.password.minlength').format(passwordMinLength) }}
                  </div>
                }
                @if (authForm.errors?.['passwords'] && authForm.controls['password'].dirty && authForm.controls['passwordAgain'].dirty) {
                  <div class="error-messages">
                    {{ t('validator.constraints.password.mismatch') }}
                  </div>
                }
              </fieldset>
            }
            @if (authType == 'register') {
              <fieldset class="form-group">
                <input formControlName="fullName" [placeholder]="t('login.label.fullName')" pInputText />
              </fieldset>
            }
            @if (['register', 'reset-password'].includes(authType)) {
              <fieldset class="form-group">
                <input type="email" formControlName="email" [placeholder]="t('login.label.emailAddr')" pInputText />
                @if (authForm.controls['email'].hasError('email')) {
                  <div class="error-messages">
                    {{ t('validator.constraints.Email.message') }}
                  </div>
                }
              </fieldset>
            }
            <fieldset class="form-group">
              <p-select formControlName="language" [placeholder]="t('login.label.language')" [options]="availableLangs" optionLabel="label" optionValue="id"
                (onChange)='onLanguageChange($event)'>
              </p-select>
            </fieldset>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start">
              @if (authType == 'login') {
                <a [routerLink]="['/reset-password']">{{ t('login.label.reset-password') }}</a>
              }
              <p-button fxLayoutAlign="end" [disabled]="!authForm.valid" type="submit" [label]="title" ></p-button>
            </div>
            @if (authType == 'register') {
              <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start" style="margin-top: 10px;">
                {{ t('login.label.privacy-policy-1') }}&nbsp;
                <a href="javascript:void(0)" (click)="isPrivacyPolicyDisplayed = true">{{ t('login.label.privacy-policy-2') }}</a>.
              </div>
            }
          </fieldset>
        </form>
        @if (recaptcha.render) {
          <p fxLayoutAlign="center">
            <z-captcha #captcha [siteKey]="siteKeyCaptcha" [language]="translocoService.getActiveLang()" (onResponse)="captchaResponse($event)" (onExpire)="captchaExpire()"></z-captcha>
          </p>
        }

      </div>

    </div>
  </div>

  <p-dialog [header]="t('menu.privacyPolicy')" [(visible)]="isPrivacyPolicyDisplayed" (onShow)="onPrivacyPolicyShow()"
    [modal]="true" [resizable]="true" [closeOnEscape]="true">
    <div [innerHtml]="privacyPolicyContent"></div>
    <ng-template pTemplate=#footer>
      @if (isPrivacyPolicyAcceptable) {
        <p-button icon="pi pi-check" (click)="onPrivacyPolicyAccept()" [label]="t('login.dialog.privacyPolicy.accept')"></p-button>
        <p-button icon="pi pi-times" (click)="onPrivacyPolicyDecline()" [label]="t('login.dialog.privacyPolicy.decline')" pAutoFocus [autofocus]="true"></p-button>
      }
    </ng-template>
  </p-dialog>

</div>
